@media print {
	.printbutton {
	  visibility: hidden;
	  display: none;
	}
	.top-bar {
	  visibility: hidden;
	  display: none;
	}
	.acr_footer {
	  visibility: hidden;
	  display: none;
	}
	a[href]:after {
  		  content:"" !important;
	}
	
}