   .top-bar {
   	background: #CA1622;
   }
   
   /*.title-area a:hover {
   	background: black;
   }*/
 
/** Changes the active menu item from default black to a gradient **/
.top-bar-section ul li.active > a {
    background:  #CA1622;
    color: #fff;
}
/** Changes the hover state of non active menu items **/
.top-bar-section li:hover a {
    background: #CA1622;
    color: #fff;
}
/** Changes non active menu items text color to black **/
.top-bar-section ul li > a {
	background-color: #CA1622;
    color: #fff;
}
/** Changes the hover state of dropdown menu items **/
.top-bar-section ul.dropdown li a:hover:not(.button) {
    background: black;
}
/** IMPORTANT fill for the ul dropdown container **/
.top-bar-section ul.dropdown {
    background: #CA1622;
    color: #fff;
}
/** This fixes the position and the color of the dropdown arrow **/
.top-bar-section .has-dropdown > a:after {
    border-color: white transparent transparent;
    
}  
 .top-bar-section li a:not(.button) {
	background: #CA1622;
	color:white;
}
   
 .top-bar-section ul li > a:after {
    border-color: white transparent transparent;
}  